// Place all the styles related to the Messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.color1 {
    color: #481E9D;
}

.color2 {
    color: #8D74C0;
}

.color3 {
    color: #CA4B57;
}

.color4 {
    color: #2B2D42;
}

.color5 {
    color: #1C77C3;
}

.color6 {
    color: #81B29A;
}

.color7 {
    color: #E98039;
}

.backColor1 {
    background-color: #481E9D;
}

.backColor2 {
    background-color: #8D74C0;
}

.backColor3 {
    background-color: #CA4B57;
}

.backColor4 {
    background-color: #2B2D42;
}

.backColor5 {
    background-color: #1C77C3;
}

.backColor6 {
    background-color: #81B29A;
}

.backColor7 {
    background-color: #E98039;
}